{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
<style>
.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {opacity: 1}
.slidecontainer {
  width: 100%;
}
</style>
<div class="text-center vertical-middle-sm">
    <h1>3 Counterfatual Examples Test</h1>
</div>
<div class="row">
<div style="width:80%; margin: auto">
    <table class="table table-bordered text-center">
        <caption class="text-center" style="color: black; font-size:25px">Original Data</caption>
        <thead>
            <tr>
                <th>age</th>
                <th>workclass</th>
                <th>education</th>
                <th>marital_status</th>
                <th>occupation</th>
                <th>race</th>
                <th>gender</th>
                <th>hours_per_week</th>
                <th style="color: red">Prediction</th>
            </tr>
        </thead>

        <tbody>
        <tr>
                <th>{{ dbo.0.age}}</th>
                <th>{{ dbo.0.workclass}}</th>
                <th>{{ dbo.0.education}}</th>
                <th>{{ dbo.0.marital_status}}</th>
                <th>{{ dbo.0.occupation}}</th>
                <th>{{ dbo.0.race}}</th>
                <th>{{ dbo.0.gender}}</th>
                <th>{{ dbo.0.hours_per_week}}</th>
                <th style="color: red">{{ dbo.0.income}}</th>
            </tr>
        </tbody>
    </table>
</div>
</div>
<div class="row">
<div style="width:80%; margin: auto">
    <table class="table table-bordered text-center">
        <caption class="text-center" style="color: black; font-size:25px">DICE Explanations</caption>
        <thead>
            <tr>
                <th>age</th>
                <th>workclass</th>
                <th>education</th>
                <th>marital_status</th>
                <th>occupation</th>
                <th>race</th>
                <th>gender</th>
                <th>hours_per_week</th>
                <th style="color: red">Prediction</th>
            </tr>
        </thead>

        <tbody>
        {% for row in db %}
            <tr>
                {% if row.age != dbo.0.age %}
                <th>{{ row.age }}</th>
                {% else %}
                <th>\</th>
                {% endif%}
                {% if row.workclass != dbo.0.workclass %}
                <th>{{ row.workclass}}</th>
                {% else %}
                <th>\</th>
                {% endif%}
                {% if row.education != dbo.0.education %}
                <th>{{ row.education}}</th>
                {% else %}
                <th>\</th>
                {% endif%}
                {% if row.age != dbo.0.age %}
                <th>{{ row.marital_status}}</th>
                {% else %}
                <th>\</th>
                {% endif%}
                {% if row.occupation != dbo.0.occupation %}
                <th>{{ row.occupation}}</th>
                {% else %}
                <th>\</th>
                {% endif%}
                {% if row.race != dbo.0.race %}
                <th>{{ row.race}}</th>
                {% else %}
                <th>\</th>
                {% endif%}
                {% if row.gender != dbo.0.gender %}
                <th>{{ row.gender}}</th>
                {% else %}
                <th>\</th>
                {% endif%}
                {% if row.hours_per_week != dbo.0.hours_per_week %}
                <th>{{ row.hours_per_week}}</th>
                {% else %}
                <th>\</th>
                {% endif%}
                <th style="color: red">{{ row.income}}</th>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</div>
</div>
<div>
    <div style="width:80%; margin:auto">
       <table class="table table-bordered text-center">
        <caption class="text-center" style="color: black; font-size:25px">Based on the above explanations, here is the 3rd test case<text style="color:red"> 3/3</text></caption>
        <thead>
            <tr>
                <th>age</th>
                <th>workclass</th>
                <th>education</th>
                <th>marital_status</th>
                <th>occupation</th>
                <th>race</th>
                <th>gender</th>
                <th>hours_per_week</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                {% if testadults.2.1.age != dbo.0.age %}
                <th>{{ testadults.2.1.age}}</th>
                {% else %}
                <th>\</th>
                {% endif%}
                {% if testadults.2.1.workclass != dbo.0.workclass %}
                <th>{{ testadults.2.1.workclass}}</th>
                {% else %}
                <th>\</th>
                {% endif%}
                {% if testadults.2.1.education != dbo.0.education %}
                <th>{{ testadults.2.1.education}}</th>
                {% else %}
                <th>\</th>
                {% endif%}
                {% if testadults.2.1.marital_status != dbo.0.marital_status %}
                <th>{{ testadults.2.1.marital_status}}</th>
                {% else %}
                <th>\</th>
                {% endif%}
                {% if testadults.2.1.occupation != dbo.0.occupation %}
                <th>{{ testadults.2.1.occupation}}</th>
                {% else %}
                <th>\</th>
                {% endif%}
                {% if testadults.2.1.race != dbo.0.race %}
                <th>{{ testadults.2.1.race}}</th>
                {% else %}
                <th>\</th>
                {% endif%}
                {% if testadults.2.1.gender != dbo.0.gender %}
                <th>{{ testadults.2.1.gender}}</th>
                {% else %}
                <th>\</th>
                {% endif%}
                {% if testadults.2.1.hours_per_week != dbo.0.hours_per_week %}
                <th>{{ testadults.2.1.hours_per_week}}</th>
                {% else %}
                <th>\</th>
                {% endif%}
            </tr>
        </tbody>
    </table>
    </div>
</div>
<div class="row">
<div style="width:80%; margin: auto">
    <h3 style="text-align: center;">What is your prediction for the income?</h3>
    <div class="col-sm-2"></div>
    <div class="col-sm-2"><input class="button" style="background-color: #f4511e" type="button" onclick="location.href='/Survey'" value="<=50k"></div>
    <div class="col-sm-2"></div>
    <div class="col-sm-2"></div>
    <div class="col-sm-2"><input class="button" style="background-color: #82D8FF" type="button" onclick="location.href='/Survey'" value=">=50k"></div>
    <div class="col-sm-2"></div>
</div>
</div>
{% endblock %}