{% load staticfiles %}
<div class="container">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand">DICE</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/">Welcome</a></li>
          <li><a href="/Example_1">3 CE Test</a></li>
          <li><a href="/Example_2">4 CE Test</a></li>
          <li><a href="/Example_3">Interactive Learning</a></li>
        </ul>
      </div>
    </nav>
</div>

